body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: darkgreen;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}
.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.2em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
button:active a {
    color: #cc5200;
}

button:active {
    transform: scale(1.05);
}

.game-container {
    border: 5px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 90%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}